/* header {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    width: 100%;
    padding: 20px;
  } */

  .form-label {
    display: inline-block;
    width: 120px;
  }
  
  .form-input {
    display: inline-block;
    width: 200px;
  }

  .top-right-textbox {
    position: absolute;
    right: 8%;
    text-align: center;
    top: 15%;

}
.col-md-3 {
  padding-top: 100px;
}


.service-card {
  border-radius: 25px;
  padding: 20px;
  width: 200px;
  height: 470px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-img-top{
  border-radius: 25px;
}

.list-group {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

